<%- include('./partials/header.ejs') %>

  <h3 style="font-size: 18px; color: black;">Hello <%= name %>!</h3>
  <p style="font-size: 16px;  color: #333;"><b><%= user %></b> just logged in to the <a href="https://exams.rapiduav.com/">
    Rapid Aerial Part 107 Practice Exam
  </a></p>
  <%- include('./partials/footer.ejs') %>